/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.666%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.item {
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%; 
}

#Home {background-color: #33BBFF;}
#Experience {background-color: #33BBFF;}
#Skills {background-color: #33BBFF;}
#Projects {background-color: #33BBFF;}
#Schools {background-color: #33BBFF;}
#Links {background-color: #33BBFF;}